body{
	background-color: #F8F8F8;
}

.container{
	width: 1920px;
	margin: 0 auto;
}

.header{
	background: url(image/Backimg1.png) no-repeat center top;
}

.nav{

}

li{
list-style-type: none;
text-decoration:none;
}

header a {
	text-decoration: none;
	font-family: KoHo;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;


text-align: center;
letter-spacing: 0.135em;

color: #2E2E2E;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.menu{
	display: flex;
}

.menu li {
	margin-right: 60px;
}

.nav{
	display: flex;
	align-items: center;
}

.logo{
margin-right: 950px;

}
ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

header a:hover{
 color:  #42AAFF;
 transition: all 0.4s ease;
}